* {
	font-family: "Dosis";
}
body {
	padding-top: 45px;
}
#mainPage {
	background-color: #D7FAAB;
}
h3 {
	text-align: center;
	color: #006B3D;
	padding: 2%;
	margin: 2%;
}
#form {
	background-color: #ffffff;
	margin: 4%
}
form input {
	margin-bottom: 2%;
}
input {
	margin: 2%;
}
a:link {
	color: #BE004A;
}
a:visted {
	color: #C23700;
}
